{% extends 'base.html.twig' %}

{% block title %}Must Do Diving!{% endblock %}

{% block body %}
<div class="wrap-contents">
    <div class="sideColor">This is the home page</div>
</div>
{% endblock %}

