{% extends 'admin.html.twig' %}

{% block title %}Must Do Diving - {{ controller_name }} {% endblock %}

{% block body %}
 
<div class="container">
    <h4>This page is being updated.</h4>

    
</div>
{% endblock %}
